.title{ /* title */
   text-align: left;
   font-family: 'Amaranth';
   display: flex;
   justify-content: space-between;
   padding: 0px 10px; /* 5px for top/bottom and 40px for right/left */
}

.Heading { /* outer container*/
  display: flex; /* aligns child elements (like the <h1> and .nav-links*/ 
  justify-content: space-between; /* title left, links right and Put space inbetween */
  align-items: center; /* Vertically centers the <h1> anf the links -ligning up neatly in the middle of the header*/
  padding: 5px 30px;
  border-radius: 8px; /*Rounds the corners of the header for a soft, modern look.*/
}

.links{
  display:flex; /*Lays out the <a> links in a row inside the right section*/
  gap:80px; /*Add space between each link*/
  padding-right: 30px;
  font-family: 'Antic';
}

.links a {
  text-decoration: none;
  color: black;
}